
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {

    margin: 0;
    padding: 0;
}

body {
    
    background: #F3F7FD;
}
/* header */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;

}

.navbar {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    background: linear-gradient(120deg, rgb(5, 5, 161), rgb(51, 51, 204), rgb(102, 0, 204));
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

.nav-item {
    margin-left: 4rem;
}

.nav-link {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.nav-link:hover {
    color: rgb(230, 230, 230);
}

.nav-logo img {
    width: 8rem;

}

/* -------footer------ */
footer {
    background: linear-gradient(120deg, rgb(5, 5, 161), rgb(51, 51, 204), rgb(102, 0, 204));
    /* Reduce opacity */
    color: #ffffff;
    padding: 2rem 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* For responsiveness */
    justify-content: space-between;
    padding: 0 2rem;
}

.footer-logo {
    width: 150px;
    /* Adjust logo size as needed */
    margin-bottom: 1rem;
}

.footer-about {
    flex: 1;
    min-width: 200px;
    /* Ensure it fits smaller screens */
}

.footer-links,
.footer-services {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links,
.footer-services,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    /* Make responsive */
}


.footer-links ul,
.footer-services ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-services li {
    margin: 0.5rem 0;
}

.footer-links a,
.footer-services a {
    color: #ffffff;
    text-decoration: none;
}

.footer-newsletter input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-shadow: 0px 5px 10px 0px #0000003a;
}

.discover-btn,
.subscribe-btn {
    background-color: #007bff;
    /* Change to blue */
    border: none;
    color: white;

    border-radius: 5px;
    /* Reduce border radius */
    cursor: pointer;margin-top: 1rem;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    
    
    outline: none;
    
    
    height: 40px;
    
    transition: all 0.5s ease 0s;
    box-shadow: 0px 5px 10px 0px #0000003a;
}
footer button:hover {
    color: #fff;
    background: hsl(207, 97%, 35%);
    box-shadow: 0px 5px 10px 0px hsla(207, 97%, 35%, 0.431);
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #333;
   
}

/* CSS for larger screens (laptop) */
@media only screen and (min-width: 1367px) {

    .footer-container {
        max-width: 1400px;
        /* Set maximum width for larger screens */
        margin: 0 auto;
        padding: 0 2rem;
    }

    .discover-btn,
    .subscribe-btn {
        padding: 12px 24px;
        width: 45%;
    }
}

/* CSS for larger screens (laptop) */
@media only screen and (max-width: 1366px) {

    .footer-container {
        padding: 0 1.5rem;
    }

    .discover-btn,
    .subscribe-btn {
        padding: 10px 22px;
        /* Adjust button size */
    }
}

/* CSS for medium-sized screens (tablet) */
@media only screen and (max-width: 1024px) {


    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 1rem;
    }

    .footer-about,
    .footer-links,
    .footer-services,
    .footer-newsletter {
        flex: 1;
        margin-bottom: 1rem;
    }

    .discover-btn,
    .subscribe-btn {
        padding: 8px 18px;
    }
}


/* CSS for smaller screens (mobile) */
@media only screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        flex-direction: column;
        background-color: #061e32;
        width: 100%;

        text-align: center;
        transition: 0.3s;

    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .footer-container {
        flex-direction: column;
        padding: 0 1rem;
        text-align: center;
    }

    .footer-about,
    .footer-links,
    .footer-services,
    .footer-newsletter {
        flex: 1;
        margin-bottom: 1rem;
        text-align: center;
    }

    .footer-newsletter input {
        width: 90%;
        /* Adjust input size for small screens */
    }

    .discover-btn,
    .subscribe-btn {
        padding: 8px 16px;
        width: 46%;
        /* Make buttons full-width */
        margin-top: 10px;
    }
}